/*CSS FOR REGISTER PAGE*/

body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.left{
    flex: 1;
    background-image: url("redgbackground.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align:center;
}
.left-text{
    text-align: left;
    margin-top: 200px;
    margin-left: 230px;
    font-size: larger;
}
.left h1 {
    font-size: 60px;
    line-height: 0.5;
 }
p {
    line-height: 0.2;
    font-size: smaller;
}
.right{
    width: 580px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-container{
    position: relative;
    width: 500px;
    height: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
}
.input-field{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 0.2px;
 }
.password-container .toggle-password{
    position: absolute;
    right:15px;
    top: 45%;
    cursor: pointer;
}
.right h1 {
    color: #00bfff;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}
.right p{
    text-align: left;
}
button{
    height: 40px;
    width: 120px;
    background-color: #00afff;
    text-align: center;
    color: #090606;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#passwordfield{
    border: none;
}
#eyeicon{
   align-self: self-end;
}
#rightlink{
    text-align: center;
}