/*CSS FOR REGISTER PAGE*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.left{
    flex: 1;
    background-image: url("redgbackground.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align:center;
}
.left-text{
    text-align: left;
    margin-top: 230px;
    margin-left: 200px;
    font-size: larger;
    font-family: 'Outfit', sans-serif;
}
.left h1 {
    font-weight: 650;
    font-size: 53px;
    line-height: 0.6;
 }

p {
    line-height: 0.2;
    font-size: smaller;
    font-weight: 500;
}
.right{
    width: 580px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-container{
    position: relative;
    width: 520px;
    height: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
}
.input-field{
    width:100%;
    height: auto;
    padding:10px;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 0.2px;
 }

 ::placeholder{
    font-size: 16px;
 }
.password-container .toggle-password{
    position: absolute;
    right:15px;
    top: 45%;
    cursor: pointer;
}
.right h1 {
    color: #39cdff;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}
.right p{
    text-align: left;
}
button{
    height: 50px;
    width: 120px;
    background-color: #38c3ff;
    text-align: center;
    color: #090606;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#passwordfield{
    border: none;
}
#eyeicon{
   align-self: self-end;
}
#rightlink{
    text-align: center;
}

@media screen and (max-width: 480px) {
    * {
        scrollbar-width: none;
        box-sizing: border-box;
    }
  html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  .left {
    display: none;
  }
  .form-group {
    max-width: 100%;
    width: 100vw;
    flex-wrap: wrap;
  }
  h1 {
    width: 100vw;
  }
  .input-container {
    width: 100vw;
  }
}